# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
assets/js/dist

# Posts
_posts/2023-10-10-ios-url-scheme.md
_posts/2023-11-01-swe-appl-prepare.md
_posts/2023-10-01-mousepaw-dev-planning.md
_posts/2016-04-13-development-on-embedded-platforms.md
_posts/2022-11-29-The Art of Crafting MacOS Shellcodes.md
_posts/2023-07-16-What-Does-a-Systems-Software-Engineer-Do.md
_posts/2023-11-26-power-management-battery-operated-devices.md
_posts/2023-07-24-pass-a-byteboard-software-engineering-interview.md
_posts/2022-11-29-OSMR-Offensive-Security-macOS-Researcher-(EXP-312).md

